.stellarnav > ul > li{
	text-align: right;
}

.stellarnav .dd-toggle{
  right: auto;
  left: 0;
}

.stellarnav li{
  text-align: right;
}

.stellarnav li.has-sub > a:after {
    margin-right: 2px;
    margin-left: 0px !important;
}

.stellarnav.desktop li.has-sub a{
	padding-right: 15px !important;
    text-align: right;
}

.intro-flex .one-third h3{
	font-family:'moon','Cairo', sans-serif !important;
}

.qbstp-header-subscribe button{
	border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
}

  /*.col-md-8-sp, .col-md-4-sp{
    float: left;
  }*/

.floating.col-md-6, .floating.col-md-3 , .floating.col-md-4{
    float: right;
  }

  .f-blog{
    padding-right: 140px;
    padding-left: 0 !important;
  }

  .f-blog .blog-img{
    left: auto;
    right: 1em
  }

  .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
    float: right !important;
  }

  .services .icon {
    font-size: 16px !important;
  }


  .list-information {
     padding-right: 0;
  }

.list-information__description {
    float: left !important;
}

.btn{
    margin-left: 4px;
    margin-right: 0 !important;
}

.trainer-thumb{
    float: right;
    margin-left: 15px;
    margin-right: 0
}

.trainer-info{
  float: right;
}

.course-thumb{
    float: right;
    margin-left: 15px;
    margin-right: 0
}


.course-info{
  width: 65%;
  float: right;
}

.home-map{
  padding-left: 0;
}

.home-form{
  padding: 80px 0px 0px 123px;
}

#searchList{
  left: inherit;
    right: 185px;
}

.search_loader{
  position: absolute;
  left: -22px;

}

#searchList .dropdown-menu{
  text-align: right;
}

 @media screen and (max-width: 768px) {

  #searchList{
    left: 58px;
  }

  .search_loader{
  position: absolute;
  left: 100px;

}

  #searchList .dropdown-menu{
    width: 300px;
    overflow-x: auto;
  }
 }


.slider {
    width: 100%;
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}